<h1>Hello world</h1>
<p>{{speak()}}</p>

<section>
  <h2>Simple array iteration</h2>
  
  <ul>
    <li *ngFor='let color of colors; let i = index'>
      {{i}} => {{color}}
    </li>
  </ul>
</section>

<section>
  <h2>Object array iteration</h2>
  
  <ul>
    <li *ngFor='let car of cars; let i = index'>
      {{car.make}} {{car.model}} with {{car.miles}} miles.
    </li>
  </ul>
</section>

<section>
  <h2>Cars from service</h2>
  
  <ul>
    <li *ngFor='let car of carsFromService; let i = index'>
      {{car.make}} {{car.model}} with {{car.miles}} miles.
    </li>
  </ul>
</section>

<section>
  <h2>The classical reactive counter</h2>

  <p>{{count}}</p>

  <button (click)='increaseCount()'>+1</button>
</section>

<section>
  <h2>Another reactivity example</h2>

  <p>{{phrase}}</p>

  <button (click)='append()'>Click me</button>
</section>

<section>
  <h2>Banana in a box (Two way data binding)</h2>
  
  <p>In <code>app.modules.ts</code> you must import <code>FormsModule</code> from <code>@angular/forms</code> and add it in the <code>imports</code> section. With that solved, try to write in the input.</p>
  
  <input type="text" [(ngModel)]="username" />
  <p>{{username}}</p>

</section>

<section>
  <h2>Add a car</h2>

  <ul>
    <li *ngFor='let car of carsFromService; let i = index'>
      {{car.make}} {{car.model}} with {{car.miles}} miles.
    </li>
  </ul>

  <form (submit)="addCar()">
    <label>
      Make:
      <input type="text" name="make" id="make" [(ngModel)]="make">
    </label>    
    
    <label>
      Model:
      <input type="text" name="model" id="model" [(ngModel)]="model">
    </label>    
    
    <label>
      Miles:
      <input type="number" name="miles" id="miles" [(ngModel)]="miles">
    </label>
    
    <button>Add car</button>
  </form>
</section>

<router-outlet></router-outlet>